html
  head
      block head
        title="Remember the Knot"
        link(rel="shortcut icon" type="image/png" href="https://i.imgur.com/hgoSkWr.png")
        link(rel='stylesheet' href='/stylesheets/app.css')
  body
    div.nav_bar
      H.nav_bar(id='app-header')
      form(action="/app/search" method="get")
        input(type="text" name="term" placeholder="search")
      form(action='/logout' method='post')
        button#logout(type="submit") Logout
    div.nav_bar
  script(src="/javascripts/list.js" type="module" defer)
  div.app
    div#listOfListHeading Your Lists
    div.list_container
    div.listButtons
      input#newListButton(type="button" value="New List")
      input#newListInput(type="hidden" placeholder="Enter list name")
    div.task_container
      div#titleContainer
      div#editListDiv.hidden
        input#editListName.hidden(type='input' placeholder='Enter new list name')
        input#submitEditListName.hidden(type='button' value='Submit') 
        input#cancelEditListName.hidden(type='button' value='Cancel')
      div#titleButton
        input#titleListEdit(type='button' value='Edit list name')
      ul.task_list
      div.taskButtons
       input#newTaskButton(type="button" value="Add Task")
       input#newTaskInput(type="hidden" placeholder="Enter task name")
