html
  head
      block head
        title="Login Portal"
        link(rel='stylesheet' href='/stylesheets/index.css')
  body
    p testing
    form(action='/logout' method='post')
      button(type="submit") Logout


  script(src="/javascripts/list.js" type="module" defer)
  div.list_container
  div.button
    input#newListButton(type="button" value="New List")
  div.task_container
    ul.task_list
