html
  head
      block head
        title="Remember the Knot"
        link(rel="shortcut icon" type="image/png" href="https://i.imgur.com/hgoSkWr.png")
        script(src="/javascripts/demo.js" type="module" defer)
  body
    h3 Redirecting you as a demo user in 3....2....1