extends home-page-layout.pug

include utils.pug

block content
    div(class="container")
    div(id="top_div")
        div(class="nav")
            img#knotlogo(src='/stylesheets/knotlogo.png')
            a(href='/demo') Demo
            a(href="/login") Log in
            a(href='/signup')
                button(type="submit") Sign up for Free!
            a(id="github-link" target="_blank" href="https://github.com/iethan-h/Remember-the-Knot.git") Our Project GitHub Page!
        div(class="middle")
            h1(class="middle") Remember The Knot!

            h2(id="h2") Welcome Back!
            a(href='/login')
                button( id="login-btn" type="submit") Log in


    div(id="bottom_div")
        div(class="footer-container")
            h3(id="mission" class="description") Our Mission
            hr
            h3(class="description") Remember The Knot is an application to replace the normal to-do list! Instead of wasting paper and having stacks of them, all of your to-do's are now all in one place!
            div.contributorContainer
                h3(id="connect") Our Contributors:
                div.githubLinks
                    a#Howard(href="https://github.com/changh314") Howard Chang
                    a#Ethan(href="https://github.com/iethan-h") Ethan Harwell
                    a#Brandon(href="https://github.com/BrandonMohan") Brandon Mohan
                    a#Kenny(href="https://github.com/Kennyg3") Kenny Guo
