extends home-page-layout.pug

include utils.pug

block content
    div(class="container")
        div(id="top_div")
            a(class="nav") Demo
            a(class="nav" href="http://localhost:8080/login") Log in
            form(action='/signup' method='get')
              button(type="submit") Sign up for Free!
        div(id="bottom_div")
           