doctype html
html
  head
      block head
        title="Home"
        link(rel="shortcut icon" type="image/png" href="https://i.imgur.com/hgoSkWr.png")
        link(rel="stylesheet" type='text/css' href="/stylesheets/home-page-styles.css")
  body
    block content