extends home-page-layout.pug

include utils.pug

block content
    div(class="container")
    div(id="top_div")
        div(class="nav")
            a() Demo
            a(href="http://localhost:8080/login") Log in
            a(href='/signup')
                button(type="submit") Sign up for Free!
        div(class="middle")
            h1(class="middle") Remember The Knot!
            h2(id="h2") Welcome Back!
            a(href='/login')
                button(type="submit") Log in
                    
    div(id="bottom_div")
        a(target="_blank" href="https://github.com/iethan-h/Remember-the-Knot.git") Our Project GitHub Page!
           