extends home-page-layout.pug

include utils.pug

block content
    div(class="container")
        div(id="top_div")
            a(class="nav") Demo
            a(class="nav" href="http://localhost:8080/login") Log in
            button( class="nav" type="button" "http://localhost:8080/signup") Sign Up for Free!
        div(id="bottom_div")
           