extends layout.pug

include utils.pug

block content
    div(class="page")
        div(class="blueSide")
        +validationErrorSummary(errors)
        div(class="whiteSide")
            div(class="link")
                a(href='/sign-up') Sign up for free
            form(id = 'signUp' action='/login' method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                input(type='email' name='emailAddress' placeholder="email")
                input(type='password' name='password' placeholder="password")
                button Log in
