
extends sign-up-layout.pug 

include utils.pug

block content
  div(class="page")
    div(class="blueSide")
    +validationErrorSummary(errors)
    div(class="whiteSide")
      div(class="link")
        a( id="home" href="/") Home Page
      form(id="form" action="/signup" method="post")
            h1 Make an account!
            input(type="hidden" name="_csrf" value=csrfToken)           
            input(type="text" name="firstName" value=user.firstName placeholder="First name")            
            input(type="text" name="lastName" value=user.lastName placeholder="Last Name")          
            input(type="email" name="emailAddress" value=user.emailAddress placeholder="email")
            input(type="password" name="password" placeholder="Password")
            input(type="password" name="confirmPassword" placeholder="Confirm Password")
            button Create 
