
extends sign-up-layout.pug 

include utils.pug

block content
  div(class="page")
    div(class="blueSide")
    +validationErrorSummary(errors)
    div(class="whiteSide")
      form(id="form" action="/signup" method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="fullName") Enter your first name:
            input(type="text" name="firstName" value=user.firstName)
            label(for="username") Enter your last name:
            input(type="text" name="lastName" value=user.lastName)
            label(for="email") Enter your email:
            input(type="email" name="emailAddress" value=user.emailAddress)
            label(for="password") Enter a password:
            input(type="password" name="password" placeholder="Password")
            
            input(type="password" name="confirmPassword")
            button Create 
