#container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#top_div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50%;
    background-color: #0060bf;
}

#bottom_div {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}